.homecard-animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    font-family: "Roboto Slab", serif;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .homecard-animated-button svg {
    position: absolute;
    width: 24px;
    fill: rgb(0, 0, 0);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .homecard-animated-button .arr-1 {
    right: 16px;
  }
  
  .homecard-animated-button .arr-2 {
    left: -25%;
  }
  
  .homecard-animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .homecard-animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .homecard-animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #ffffff;
    border-radius: 12px;
  }
  
  .homecard-animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .homecard-animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .homecard-animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .homecard-animated-button:hover svg {
    fill: #ffffff;
  }
  
  .homecard-animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(0, 0, 0);
  }
  
  .homecard-animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  