/* PomodoroTimer.css */

.pomodoro-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CCD1DB;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.pomodoro-timer-heading{
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}

.pomodoro-time-inputs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.pomodoro-time-inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomodoro-time-inputs label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.pomodoro-time-inputs input {
  width: 100px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.pomodoro-timer-circle {
  position: relative;
  margin-bottom: 20px;
}

.pomodoro-timer-circle svg {
  transform: rotate(-90deg);
}

.pomodoro-time-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.pomodoro-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.pomodoro-controls button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.pomodoro-controls button:hover {
  background-color: #45a049;
}

.calories-burned {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.pomodoro-timer-circle svg circle:nth-child(2) {
  transition: stroke-dashoffset 1s linear;
  transform-origin: center;
}

.pomodoro-timer-circle svg circle {
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear;
}
