.youtube-app {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .youtube-input-section {
    margin: 20px;
    color: aliceblue;
  }
  
  .youtube-input-section input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    color: black;
  }
  
  .youtube-input-section button {
    padding: 10px 20px;
  }
  
  .youtube-player-section {
    margin-top: 20px;
  }
  